/*=========================================================
LAYOUT ↓
========================================================= */
.episode { overflow: auto; position: relative; width: 100%; height: 400vh; background: linear-gradient(to bottom, #29483D, #131314 25%, #131314 25.1%, #29483D 50%, #131314 50.1%, #131314 75%, #192640); }
.episode::before, .episode::after { position: absolute; top: 0; left: 0; content: ''; width: 100%; height: 100%; mix-blend-mode: multiply; filter: brightness(60%) contrast(100%); }
.episode::before { background: #000; filter: url(#noise); width: 83.2%; margin-left: 8.5%; }
.episode::after { background: url(../img/texture.png) repeat-y bottom center / 100%; }
/*=========================================================
LAYOUT ↓
========================================================= */
.episode .ep-text { overflow: hidden; width: 100%; height: 1080px; }
.hello-title { margin: 1em; font-size: var(--font-x-large); font-family: var(--font-gugi); color: #696969; }