.history { height: 100%; padding-top: 80px; background: linear-gradient(to top, #29483D 20%,#C7363B 50%, rgba(42, 42, 42, 0)); }
.history .history-main-bg { position: relative; width: 100%; height: 100%; background: url(../img/svg/history_img01.svg) no-repeat center top / 100%; }
.history .history-main-bg h1 { position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%); font-family: var( --font-noto); font-size: 8rem; font-weight: 900; letter-spacing: 10px; color: transparent; -webkit-text-stroke: 0.05vw #bdbbc7; text-transform: uppercase; }
.history .history-content-wrap { width: 100%; height: 900px; display: grid; place-items: center; background: url(../img/history/lof_red.png) no-repeat center center / 100%; }
.history .history-content-wrap1 { width: 100%; height: 800px; display: grid; place-items: center; background: url(../img/history/lof_green.png) no-repeat center center / 100%; }
.history .slider { overflow: hidden; position: relative; z-index: 2; width: 100%; height: 600px; margin: 0 auto; display: grid; place-items: center; }
.history .slider .slide-track { animation: scroll 15s linear infinite; display: flex; gap: 0 3em; width: calc( 25% * 10); }
.history .slider .slide-tracks { animation: scroll 20s linear infinite; display: flex; gap: 0 3em; width: calc( 25% * 10); }
.history .slider .slide-track:hover { animation-play-state: paused; }
.history .slider .slide-tracks:hover { animation-play-state: paused; }
@keyframes scroll { 0% { transform: translateX(0); } 100% { transform: translateX(calc(-400px * 4)); } }
.history .slider .slide { perspective: 100px; width: 50%; height: 50%; display: flex; align-items: center; padding: 0 1.5em; }
.history .slider .slide > img { width: 100%; transition: transform .5s; }
.history .slider .slide > img:hover { transform: translateZ(10px); }

@media only screen and (min-width: 1350px) {
    .history .history-main-bg { min-height: 1080px; }
}
@media only screen and (max-width: 1350px) {
    .history .history-main-bg { min-height: 800px; }
    .history .history-content-wrap { background: url(../img/history/lof_red.png) no-repeat left center / 150% 100%; }
    .history .history-content-wrap1 { background: url(../img/history/lof_green.png) no-repeat left center / 150% 65%; }
    .history .slider .slide > img { min-width: 500px; }
    .history .slider .slide-track { gap: 0 30em; }
    .history .slider .slide-tracks { gap: 0 30em; }
}
@media only screen and (max-width: 805px) {
    .history .history-main-bg { background: url(../img/svg/history_img01.svg) no-repeat center center / 100% 120%; }
    .history .history-main-bg h1 { top: 40%; left: 50%; }
    .history .history-main-bg { min-height: 550px; }
    .history .history-content-wrap { background: url(../img/history/lof_red.png) no-repeat left center / 200% 100%; }
    .history .history-content-wrap1 { background: url(../img/history/lof_green.png) no-repeat left center / 200% 65%; }
    .history .slider .slide > img { min-width: 450px; }
    .history .slider .slide-track { gap: 0 25em; }
    .history .slider .slide-tracks { gap: 0 25em; }
}