@charset "UTF-8";
/* Font-family List */
/* Space Grotesk */ @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* NotoSans */ @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Nanum Pen */ @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/* Gugi */ @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; } 
body { line-height: 1; }
html { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
img { pointer-events: inherit; }


:root {
    /* font-family */
    --font-gugi: 'Gugi', cursive;
    --font-Space: 'Space Grotesk', sans-serif;
    --font-noto: 'Noto Sans', sans-serif;
    --font-nanum: 'Nanum Pen Script', cursive;
    /* font-size */
    --font-title: 10rem;
    --font-xx-large: 6.4rem;
    --font-x-large: 4.8rem;
    --font-large: 3.2rem;
    --font-medium: 2.4rem;
    --font-small: 1.8rem;
    --font-micro: 1.6rem;
    /* color */
    --color-black: #131314;
    --color-white: #E1DFE9;
    --color-deepred: #630E0E;
    --color-red: #C7363B;
    --color-lightred: #F1444A;
    --color-deepgreen: #29483D;
    --color-green: #457F69;
    --color-lightgreen: #44B58A;
    /* text-color */
    --text-text: #565360;
    --text-label: #908E9B;
    --text-disabled: #E1DFE9;
}