@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans+KR&family=Open+Sans&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F8;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.size {
    font-size: 32px;
}

/* 
    Page Grid 
*/
.Page {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    min-height: 100vh;
    margin: auto;
    padding-bottom: 40px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

/* 
    Profil Section
*/
.item_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.item_1 .item_box {
    width: 100%;
    position: relative;
}

.item_1 .profil {
    width: 100%;
}
.item_1 .profil .profil_box {
    display: flex;
    justify-content: center;
}
.item_1 .profil .profil_box .profil_img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border-radius: 30%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
}
.item_1 .profil .profil_box .profil_img:hover {
    transform: scale(1.2);
}

.item_1 .path_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 23px;
    top: 20px;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    cursor: pointer;
}
.item_1 .path_icon:hover {
    background-color: #ccc;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 15%);
}
.item_1 .path_icon .icon_circle {
    border: none;
    background-color: transparent;
    color: #8e8e8e;
    font-size: 12px;
    cursor: pointer;
}

.item_1 .item_box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.item_1 .item_box1 h1.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.item_1 .item_box1 h2.sub_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
}

/* 
    Link Button Section 
*/
.item_2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.item_2 .item_wrapper {
    padding: 0 20px;
}
.item_2 .item_wrapper .item_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item_2 .item_wrapper .item_wrap a.btn {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 12%);
}
.item_2 .item_wrapper .item_wrap a.btn:hover,
.item_2 .item_wrapper .item_wrap a.btn:focus {
    color: #eee;
}
.item_2 .item_wrapper .item_wrap a.btn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: -1;
    background-color: #3E5AFC;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #3E5AFC;
    transform:  scale(0);
    transition: transform 400ms ease-in-out;
}
.item_2 .item_wrapper .item_wrap a.btn:hover::before,
.item_2 .item_wrapper .item_wrap a.btn:focus::before {
    transform: scale(1.5);
}
.item_2 .item_wrapper .item_wrap a.btn:nth-child(2) {
    margin-top: 16px;
}
.item_2 .item_wrapper .item_wrap .icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 16px;
}
.item_2 .item_wrapper .item_wrap .icon_wrapper .icon_wrap a {
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.item_2 .item_wrapper .item_wrap .icon_wrapper .icon_wrap a:hover {
    color: #797979;
}
/* 
    Footer Section
*/
.item_3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1 1;
    padding-top: 40px;
}
.item_3 .logo > a {
    display: flex;
}
.item_3 .logo > a:hover {
    color: #797979;
}
.item_3 .logo > a i {
    padding: 10px 0;
}